@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500&display=swap');

:root {
  --col-primary: hsl(263, 55%, 52%);
  --col-primary-1: hsl(217, 19%, 35%);
  --col-primary-2: hsl(219, 29%, 14%);
  --col-white: hsl(0, 0%, 100%);
  --col-neutral: hsl(0, 0%, 81%);
  --col-neutral-1: hsl(210, 46%, 95%);
  --fw-title: 500;
  --fw-body: 400;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-size: 1.3rem;
  font-family: 'Barlow Semi Condensed', sans-serif;
  line-height: 1.5;
  font-weight: var(--fw-body);
  background-color: var(--col-neutral);
  padding-bottom: 4.4rem;
}

.container {
  width: 114rem;
  max-width: 90%;
  margin: 0 auto;
  padding: 4.4rem 0;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;

  &__card {
    padding: 3.6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--col-white);
    border-radius: 0.8rem;
    box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.1);

    &:nth-child(1) {
      grid-column: span 2;
      position: relative;

      &::after {
        content: url('/images/bg-pattern-quotation.svg');
        display: block;
        transform: scale(1.1);
        position: absolute;
        right: 15%;
        top: 0.5rem;
      }
    }

    &:nth-child(4) {
      grid-column: span 2;
    }

    &:nth-child(5) {
      grid-row: 1 / 3;
      grid-column: 4 / 5;
    }
  }

  &__card--col-primary {
    color: var(--col-white);
    background-color: var(--col-primary);
  }

  &__card--col-primary &__avatar {
    outline: 2px solid hsl(263, 55%, 75%);
  }

  &__card--col-primary-1 {
    color: var(--col-white);
    background-color: var(--col-primary-1);
  }

  &__card--col-primary-2 {
    color: var(--col-white);
    background-color: var(--col-primary-2);
  }

  &__card--col-primary-2 &__avatar {
    outline: 2px solid hsl(263, 55%, 75%);
  }

  &__profile {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.3rem 2rem;
    line-height: 1;
  }

  &__avatar {
    border-radius: 100%;
    height: 3rem;
    grid-row: span 2;
  }

  &__name {
    font-size: 1.6rem;
    letter-spacing: 1px;
  }

  &__status {
    opacity: 0.75;
    font-size: 1.2rem;
    font-weight: var(--fw-body);
  }

  &__heading {
    font-size: 1.8rem;
    line-height: 1.2;
    letter-spacing: 1px;
    z-index: 99;
  }
}

@media (max-width: 79em) {
  .testimonials {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);

    &__card:nth-child(1) {
      grid-column: 1 / 3;
    }

    &__card:nth-child(3) {
      grid-row: 2 / 3;
    }

    &__card:nth-child(5) {
      grid-column: 1 / 4;
      grid-row: 3 / 4;
    }
  }
}

@media (max-width: 59em) {
  .testimonials {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);

    &__card:nth-child(1) {
      grid-column: span 4;
    }

    &__card:nth-child(2) {
      grid-column: span 2;
    }

    &__card:nth-child(3) {
      grid-column: 3 / 5;
    }

    &__card:nth-child(4) {
      grid-column: span 4;
      grid-row: 3 / 4;
    }

    &__card:nth-child(5) {
      grid-column: span 4;
      grid-row: 4 / 5;
    }
  }

  @media (max-width: 37.75em) {
    .testimonials {
      display: flex;
      flex-direction: column;
    }
  }
}
